/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */

/* Begin Zdenek's CSS */

@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Nunito|Arimo|Open+Sans);

html { 
  background-color: #21315E;
}

#logoimg {
    display: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-top: 0.025em;
    padding-left: 0.5em;
}

.contentwrapper {
	font-size: 1.1em;
	font-family: 'Josefin Slab', serif;
	font-weight: bold;
	line-height: 120%;
  	background-color: #FBF9F5;
  	display: block;
  	width: 95%;
	border: 0.15em solid #232323;
	-webkit-border-radius: 0.3em;
    border-radius: 0.3em;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1.5em;
	margin-right: auto;
	margin-left: auto;
}

.navwrapper ul {
	background-color: #000F42;
  	text-align: center;
  	padding: .2em 0;
  	margin: 0;
  	list-style-type: none;
  	color: #FFF;
  	width: 100%;
  	font:'Arimo', sans-serif;
}

.navwrapper ul {
	display: flex;
}

.navwrapper li {
  	font-family: 'Arimo', sans-serif;
  	font-size: 0.75em;
  	font-weight: bold;
  	height: 2.5em;
  	padding: .2em 0.5em 0.5em 0.5em;
}

.logo {
	flex: 5;
	text-align: left;
}
 
.nav {
	flex: 1;
	margin-top: 1.8em;
}

.navwrapper a {
	text-decoration: none;
  	color: #fff;
  	display: block;
  	transition: .3s background-color;
}
 
.navwrapper a:hover {
	background-color: #42BCFF;
	padding: 1.5em;
}
 
.navwrapper a.active {
	background-color: #fff;
  	color: #444;
  	cursor: default;
}

#heading1 {
	text-align: left;
	color: #42BCFF; /* If webkit is not supported text will be white */
	font-family: 'PT Serif', serif;
	font-size: 0.8em;
	font-weight: bold;
	width: 21em;
	border: 0.125em solid #262626;
	-webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    margin-top: 1em;
    margin-bottom: 1.2em;
	margin-right: auto;
	margin-left: 0.25em;
	padding: 0.50em;
	background-color: #000F42;
	-webkit-text-fill-color: #42BCFF; /* Will override color (regardless of order) */
   	-webkit-text-stroke-width: 0.029em;
  	-webkit-text-stroke-color: #9E9E9E;
}

#heading2 {
	text-align: center;
	color: #42BCFF; /* If webkit is not supported text will be white */
	font-family: 'PT Serif', serif;
	font-size: 1em;
	font-weight: bold;
	line-height: 1em;
	display: block;
	width: 14em;
	border: 0.125em solid #262626;
	-webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    margin-top: 0.25em;
    margin-bottom: 1.2em;
	margin-right: auto;
	margin-left: auto;
	padding: 0.50em;
	background-color: #000F42;
	-webkit-text-fill-color: #42BCFF; /* Will override color (regardless of order) */
   	-webkit-text-stroke-width: 0.029em;
  	-webkit-text-stroke-color: #9E9E9E;
}

.list {
	color: #030302;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.85em;
	text-width: 120%;
	margin-bottom:1.5em;
	margin-left: 1em;
	text-align: center;
}

h3 {
	font-weight: bold;
	font-size: 1.1em; 
	margin-bottom: 0.5em;
	display: inline-block;
}

.videowrap {
	width: 80%;
	max-width: 40em;
	margin: 0 auto;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 2em;
	height: 0;
	overflow: hidden;
	border: 0em;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0em;
}
